* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 5rem 5rem;
  min-height: 99vh;
  width: 100vw;
  min-width: 480px;
  color: #00ff00;
  background: #000;
  font-family: cursor, monospace;
  overflow-x: hidden;
}
::selection {
  color: #fff;
  background-color: #333;
}
::-moz-selection {
  color: #fff;
  background-color: #333;
}
textarea {
  left: -100000rem;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
.cursor {
  font-size: 12px;
  color: #00ff00;
  background-color: #00ff00;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 1rem;
  max-width: 1rem;
  transform: translateY(0.4rem);
  overflow: hidden;
  text-indent: -0.5rem;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 5rem;
  color: #00ff00;
}
#liner {
  line-height: 1.3em;
  margin-top: -0.2rem;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #00ff00;
  content: "Unknown-0perator:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(1000000, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 2rem;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.color__secondary {
  color: #aa9300;
}
.command {
  color: #0000ff;
  text-shadow: 0 0 5px #0000ff;
}
.color__error {
  color: red;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: red;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #fff;
  color: #000;
}
a:focus {
  outline: 0;
}
